* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000521;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#canv {
    background-color:black;
}